---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseBody from '../components/BaseBody.astro';
import { getCollection } from 'astro:content';
import BaseMain from '../components/BaseMain.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<BaseBody>
		<Header />
		<BaseMain>
			<h1>
				Eric Schaefer
				<span class="font-normal text-3xl">is a software engineer in Berlin.</span>
			</h1>

			<div class="md:grid md:gap-4 md:grid-cols-2 mt-20">
				<div>
					<h2>Posts</h2>
					<ul class="p-0 md:grid md:grid-cols-[max-content_1fr] md:gap-x-4">
						{posts.map((post) => (
							<li class="contents list-none mb-2">
								<span class="text-sm text-gray-600 dark:text-gray-400 flex flex-col justify-center">
									{post.data.pubDate.toLocaleDateString('en-US', {
										year: 'numeric',
										month:  '2-digit',
										day: 'numeric',
									})}
								</span>
								<a class="md:truncate" href={`/blog/${post.id}/`}>{post.data.title}</a>
							</li>
						))}
					</ul>
				</div>
				<div>
					<h2>Today I Learned</h2>
				</div>
			</div>
			
		</BaseMain>
	</BaseBody>
</html>

