---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseBody from '../components/BaseBody.astro';
import { getCollection } from 'astro:content';
import BaseMain from '../components/BaseMain.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<BaseBody>
		<Header />
		<BaseMain>
			<section>
				<h1>Blog Posts</h1>
				<ul>
					{posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>{post.data.title}</a>
						</li>
					))}
				</ul>
			</section>
		</main>
	</BaseBody>
</html>

