---
// Base for <body> element
type Props = {
  classNames?: string;
};

const { classNames } = Astro.props;
---

<body
  class:list={[
    'antialiased font-sans flex flex-col min-h-screen mx-auto max-w-3xl px-2 lg:px-0 prose lg:prose-lg prose-a:text-secondary-content prose-a:hover:text-secondary-content/70',
    classNames,
  ]}
>
  <slot />
</body>
