---
// Base for <body> element
type Props = {
  classNames?: string;
};

const { classNames } = Astro.props;
---

<body
  class:list={["antialiased font-sans flex flex-col min-h-screen", classNames]}
>
  <slot />
</body>
