---
import { NAME } from "../consts";

// Footer used for Blog entries, etc. Just shows copyright info.
const today = new Date();
---

<footer class="py-10">
  <p>&copy; {today.getFullYear()} {NAME}</p>
</footer>
